body {
  margin: 0px;
  padding: 0px;
  font-family: 'Roboto Condensed', sans-serif;
}

header {
  color: #ffffff;
  background-color: #00458f;
  text-align: center;
  background: linear-gradient(to bottom, rgb(0, 0, 105), rgba(0, 82, 206, 0.267));
  border-style: solid;
  border-radius: 20px;
  margin-bottom: 5px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-shadow: 0 0 10px #000;
}

img {
  width: 50%;
  height: auto;
  float: left;
}

section{
    padding-top: 15px;
}

.info{
    width: 49%;
    float: right;
    height: auto;
    padding: 5px;
}

ul{
    color: #6d6d6d;
    list-style: none;
}

ol{
   color: #6d6d6d;
    list-style: none; 
}
.edad{
    margin-top: 0;
    text-align: center;
}

.direccion{
    text-align: center;
}

.series{
    margin-left: auto;
    margin-bottom: 5px;
    border-style: groove;
    border-color: #dfdfdf;
    text-align: center;
    box-shadow: 0 0 6px #bfbfbf
}

.peliculas{
    margin-left: auto;
    margin-bottom: 5px;
    border-style: groove;
    border-color: #dfdfdf;
    text-align: center;
    box-shadow: 0 0 6px #bfbfbf
}

.perfil{
    margin-left: auto;
    border-style: groove;
    border-color: #dfdfdf;
    text-align: center;
    padding: 2px;
    box-shadow: 0 0 6px #bfbfbf
}
